p {
    font-family: 'Courier New', Courier, monospace;
    color: #2a2a2a;
    font-size: 4rem;
}

.text {
    font-family: fantasy;
    color: burlywood;
    font-size: 4rem;
}

#popup {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    display: none;
}

#popup > #inner {
    margin: auto;
    background-color: #f00;
    color: #000;
    font-size: 24px;
}